.page-playlists{
    background: var(--color-grey);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.div-content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

h1,h2{
    color: var(--color-secondary);
    text-shadow: 0.1rem 0.1rem var(--color-primary);
}

.video{
    text-decoration: none;
    color: var(--color-primary-dark);
    text-shadow: 0rem 0.1rem var(--color-secondary-dark);
    transition-duration: 0.5s;
}

.video:hover{
    opacity: 80%;
    transition-duration: 0.5s;
}

@media(min-width: 700px){
    .div-content{
        flex-direction: row;
        width: 100%;
    }
    h1{
        font-size: 5rem
    }
}