
.playlist-videos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-primary-light);
    border-radius: 1.5rem;
    padding: 1rem;
    margin: 1rem;
}

.text-playlists{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--color-primary);
    border-radius: 1rem;
    margin: 1rem;
    padding: 0.5rem;
}

.playlist-videos h2{
    font-size: 2.5rem;
}

.video h3{
    font-size: 2rem;
}

@media(min-width: 700px){
    .text-playlists{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin: auto;
    }
}