:root {
    --color-primary-lighter: #7b7785;
    --color-primary-light: #5a5664;
    --color-primary: #312d38;
    --color-primary-dark: #24252e;
    --color-primary-darker: #100f11;
    --color-secondary-light: #55ee9a;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-secondary-darker: #20442654;
    --color-title-in-primary: #1a1717;
    --color-grey: #9C98A6;
    --color-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;

    font-size: 60%;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100vh;
}

body{
    background: var(--color-primary-lighter);
    height: 100%;
    width: 100%;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,input,button,textarea{
    font: 500 1.6rem Poppins;
    color: var(--color-secondary-dark);
}

.container{
    width: 90vw;
    max-width: 700px;
    max-height: 100vh;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}