:root {
    --color-primary-light: #565764;
    --color-primary: #2d333d;
    --color-primary-dark: #24252e;
    --color-secondary: #8cf4fc;
    --color-secondary-dark: #04cbe3;
    --color-secondary-darker: #08a8b9;
    --color-grey: #54646c;

    font-size: 60%;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html,body,#root{
    height: 100vh;
}

body{
    background: var(--color-grey);
    height: 100%;
    width: 100%;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
}

body,input,button,textarea{
    font: 400 1.6rem Archivo;
    color: var(--color-secondary-dark);
}

h1,h2{   
    font: 500 2.2rem Poppins;
}

.container{
    width: 90vw;
    max-width: 700px;
    max-height: 100vh;
}

@media(min-width: 700px){
    :root{
        font-size: 62.5%;
    }
}