.page-player{
    background: var(--color-grey);
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.div-content{
    display: flex;
    flex-direction: column;
}

.videoplayer{
    
}